@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: blue;
}

body {
  background: #f2f2f2;
  margin: 0%;
  font-family: poppins;
}
.navbar {
  background: white;
  height: 2em;
  padding: 1em;
  text-align: center;

  .logos {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font: size 1.2em;
    padding: 2px;
    margin-right: 10px;
    span {
      color: var(--primary-color);
    }
  }
  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }
  .menu {
    cursor: pointer;
    margin-left: auto;
  }
}
a {
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
section {
  padding: 5em 2.5em;
}

.hero {
  text-align: center;

  .subhead {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
    color: grey;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }
  .tryforfree {
    background: blue;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    display: inline-block;
  }
  .watchvideo {
    display: block;
    margin-top: 1em;
  }
  .watchvideoimg {
    margin-right: 0cm;
  }
}
.illustration {
  width: 70%;
  margin-top: 3em;
}

.feature {
  background: #20272e;
  color: white;
}
ul.featurelist {
  margin: 0em;
  padding-left: 0.1em;
  display: grid;
  //comback to this  check mark bit complicated//
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

  li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em; //to make checkmark//
    position: relative;

    &:before {
      content: "";
      left: -2em;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(./images/bullet.svg);
      background-size: contain;
      margin-right: 0.5em;
    }
  }
}
// .manholdingphone {
//   display: none;
// }

.quote {
  background: var(--primary-color);
  color: white;

  li {
    background: #006bd6;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
    img {
      width: 5em;
      height: 5em;
      border: 5px solid #006bd6;
      border-radius: 50%;
      margin-top: -4.5em;
    }
  }
}

h2 {
  font-size: 2em;
}
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
input,
textarea {
  padding: 0.8em;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
}

.send {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 300px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 25em;
  background: #20272e;
  border-radius: 1em;
  padding: 2em;

  li {
    a {
      color: white;
      padding: 0.5em;
      text-decoration: none;
      display: block;
      font-size: 1.3em;
      text-align: right;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .exit {
    float: left;
    margin: 0.5px;
    cursor: pointer;
  }
}

// button when we click just a design//
nav.menu-btn {
  display: block;
}

@media only screen and (min-width: 768px) {
  .menu,
  .exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    height: auto;
    width: 100%;
    padding: 0;
    position: relative;
    ul {
      display: flex;
    }
    li {
      a {
        color: black;
        font-size: 1em;
        padding: 1em 1em;
      }
    }
  }
  ul.primarynav {
    li .Bold {
      font-weight: bold;
    }
  }
  ul.secondarynav {
    li.gopremium {
      background: white;
      height: 2.5em;
      border-radius: 5em;
      border: solid blue;
      padding-bottom: 0.8em;
      margin-top: -0.001em;
      margin-bottom: 0.5em;
      font-weight: bold;

      a {
        color: blue;
      }
      &:hover {
        background: blue;
        a {
          color: white;
        }
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  nav .primarynav {
    margin-left: 20em;
    margin-top: -1em;
  }
  nav .secondarynav {
    margin-top: -1em;
  }
  // .manholdingphone {
  //   display: block;
  //   width: 20%;
  //   height: 20%;
  //   margin: 1px auto;
  //   border-radius: 2em;
  // }
}
